<html>

<head>
</head>
<body>

<pre>

<h1> site_edit </h1>

<p> Show site time log at different states </p>
{site}
<a href="survey_edit.html">edit</a> 
{site}

<a href="attachements_edit.html">edit</a>

show active states,

{site}
<a href="ajaz:next_current_state,select_next_state.html">close</a>
{site}
<a href="ajax:next_state.html">chang state</a>
<a href="survery_add.html">add survey</a>
<a href="attachement_add.html">add attahcment</a>
<a href="site_details.html">update</a>
<a href="site_details.html">cancel</a>





<pre>

</body>

</html>
